@media screen and (max-width: 768px) {
    .navigate {
        display: none;
    }
    .menu-btn{
        width: 50px;
        height: 50px;
        float: right;
        background: #36aeea;
        position: relative;
        border-radius: 3px;
        top: 26px;
    }
    .menu-btn span{
        width: 18px;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -1px 0 0 -9px;
        cursor: pointer;
    }
    .menu-btn span::before,.menu-btn span::after{
        content: "";
        width: 18px;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0;
        transition: transform 1s;
    }
    .menu-btn span::before{
        top: -5px;
    }
    .menu-btn span::after{
        bottom: -5px;
    }
    .menu-btn.is-active span{
        background: transparent;
    }
    .menu-btn.is-active span::before {
        transform: rotate(45deg);
        top: 0;
    }
    .menu-btn.is-active span::after {
        transform: rotate(-45deg);
        bottom: 0;
    }
    .fringe p, .feedback-item:nth-child(2):before {
        margin-left: 0;
    }
    .fringe img {
        margin-left: 0;
    }
    .feedback-item {
        margin: 20px 0 0 0;
    }
    .feedback button {
        padding: 12px 12px;
        border: 3px solid #36aeea;
        border-radius: 3px;
        text-transform: uppercase;
        color: #36aeea;
        background-color: transparent;
    }
    .navigate {
        float: right;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        position: absolute;
        top: 75px;
        right: 15px;
        background: #36aeea;
    }
    .navigate ul {
        width: 250px;
    }
    .navigate li {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .navigate li a {
        text-decoration: none;
        color: #ffffff;
    }
    .navigate a:hover {
        border-bottom: 3px solid #ffffff;
    }
    .logo {
        margin: 37px 0 0 10px;
    }
    header {
        background: url(../upload/main-pic.jpg) 62% 50% no-repeat;
    }
    .social-logo {
        height: 38px;
        width: 165px;
        margin:0;
        padding: 0;
        position: relative;
    }
    .contact-form {
        width: 100%;
        background: rgba(255,255,255,0.8);
        border-radius: 7px;
        text-align: center;
        margin-bottom: 162px;
        margin-left: 0;
    }
    .gallery-item:nth-child(1),.gallery-item:nth-child(4){
        margin-left: 15px;
    }
    .gallery-item:nth-child(3),.gallery-item:nth-child(6){
        margin-right: 15px;
    }
    .gallery-item {
        width: 100%;
        margin: 15px;
        padding: 0;
    }
}